[Desktop Entry]
Name=Dark Cold
Comment=Aurorae Theme with a dark glass look

X-KDE-PluginInfo-Author=originalseed
X-KDE-PluginInfo-Email=originalseed
X-KDE-PluginInfo-Name=darkcold
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
